 body {
    background: url(https://cdn.pixabay.com/photo/2015/07/28/22/01/office-865091_960_720.jpg);
    background-size: cover;
    /* background-position: center;
    min-height: 100vh;
    height: 100%;
    overflow: auto; */
} 